h1 {
    color: white;
    /* adicionar uma margem de 30px  */

}

/* Adicionar borda sólida ao redor de cada elemento do cabeçalho */
.header * {
    
} 

.header{
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}

body{
    background-color: #808080;
}

 /* 'a:link' nos permite personalizar o estilo dos links. */
a:link{
    
}
/* 'a:visited' nos permite personalizar o estilo dos links
visitados. */
a:visited{
   
}

/* adicionar uma margem à direita da classe “menu” */
.menu{
   
}
/* a adicionar a margem esquerda aos elementos li
dentro do menu */
.menu a{
   
}


.item{
   
}
/* alinhar o texto dentro de<p> a 50% da parte superior e a 50%
da esquerda */
.item p{
   
   
   
  

}

.item:hover p{
    opacity: 1;
}
/* reduzir a opacidade da imagem para um terço quando o mouse passa
sobre o item */
.item:hover img{

} 

